Needle.v
*.vo
*.glob
*.v.d
.#*
CoC.v
DoubleData.v
F.v
FLetRec.v
FProd.v
FSeqLet.v
FSub.v
FSubProd.v
FSubRcd.v
Fexists.v
Fomega.v
Het.v
HeterogeneousBinder.v
LambdaLF.v
LambdaLFHetSeqLet.v
LambdaOmega.v
Lf.v
Multiple.v
Stlc.v
StlcProd.v
StlcProd2.v
Tele.v
Test.v
Three.v
Untyped.v
*.typeresolved
*.varresolved
*.original
*.annotated
*.checked
*.grouped
*.desugared
